<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="bookName">Book Name</label>
                    <input type="text" class="form-control" id="bookName" placeholder="Enter Book Name.." name = "bookName" required>
                </div>

                <div class="form-group">
                    <label for="numberField">Author</label>
                    <input type="text" class="form-control" id="author" placeholder="Enter Author Name.." name ="author" required>
                </div>

                <div class="form-group">
                    <label for="published">published</label>
                    <input type="text" class="form-control" id="published" placeholder="Enter Publlished Year.." name="published" required>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Enter Description.." name="description" required>
                </div>
                <div class="form-group">
                    <label for="numberField">Price</label>
                    <input type="text" class="form-control" id="price" placeholder="Enter Price.." name="price" required>
                </div>
 
                
                <button type="submit">Submit</button>

            </form>
        </div>

    </div>
</div>

<!-- ADD YOU CODE TO CREATE THE ADD PAGE -->


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>